/* To target an element in CSS you use the following */
/* For HTML Elements you simply call the control. i.e. h1,h2,p,hr: etc..*/
/* For CLASS Elements you initiate them with a period i.e: .CLASS: */
/* For ID Elements, these need to be called with a # in front. i.e. #IDNAME: */
/* The CSS entry then must be in Curly Braces {} with a semi-colon at the end of the control name i.e  <Element>:{<control>;} */
/* HTML Element Selectors */

/* HTML Elements */
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Site Headings */
.big-heading {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.5;
  text-shadow: 1px 1px 1px black;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.body {
  font-family: "Montserrat";
}

/* Site Containers */

/* Bootstrap Container */
.container-fluid {
  padding: 7% 15%;
}


/* Site Sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}
.white-section {
  background-color: #fff;
}

/* Navigation Bar */

/* Bar */
.navbar {
  padding: 0 0 4.5rem;
}
/* Branding */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
/* Items */
.nav-item {
  padding: 0 18px;
}
/* Links */
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
.cta-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15%;
  text-align: left;
}
.title-image {
  /* width: 20%;*/
  height: 70%;
  transform: rotate(25deg);
  position: absolute;
  right: 400px;
}

/* Features Section */
#features {
  padding: 7% 10%;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
  font-family: "Montserrat";
}

/* Title */
.feature-title {
  font-size: 1.5rem;
  font-weight: 900;
  padding-top: 1rem;
}
/* Text Copy */
.feature-text {
  font-weight: 500;
  color: #8f8f8f;
}
/* Icon */
.icon {
  color: #ef8172;
}
/* Icon Styling */
.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  background-color: #ef8172;
}
/* Text Copy */
.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
/* Logo */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.dogname {
  font-family: "Montserrat";
  font-size: 1.5rem;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}
/* Column Boxes */
.pricing-column {
  padding: 3% 2%;
}
/* Text Copy */
.pricing-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Call To Action Section */
/* B L A N K */


/* Footer Section */
.social-icon {
  margin: 20px 10px;
}
.copyright-td {
  color: #8f8f8f;
}

/* Media Scripts */
@media (max-width: 1330px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
